.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
Function/modules/*
# Built Visual Studio Code Extensions
*.vsix
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
*.cer
*.pfx
*.cert

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json